<mat-card class="container">
  @if(errorShown) {
  <app-error errorMessage="{{error}}"></app-error>
  }
  <h2>Login Form</h2>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter username</mat-label>
      <input
        matInput
        formControlName="username"
        type="text"
        required="required"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        required="required"
      />
    </mat-form-field>
    <div class="button-cont">
      <button mat-button (click)="onSubmit()" [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>
</mat-card>
