<form>
  <mat-form-field>
    <mat-label>Enter first name</mat-label>
    <input matInput type="text" required="required" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Enter last name</mat-label>
    <input matInput type="text" required="required" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Enter city name</mat-label>
    <input matInput type="text" required="required" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Enter username</mat-label>
    <input matInput type="text" required="required" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Enter password</mat-label>
    <input matInput type="password" required="required" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Enter password again</mat-label>
    <input matInput type="password" required="required" />
  </mat-form-field>
  <br />
  <app-file-input></app-file-input>
  <br />
  <mat-form-field>
    <mat-label>Enter e-mail</mat-label>
    <input matInput type="email" required="required" />
  </mat-form-field>
  <br />
</form>
